#cinemaDetailHeader{
    display: flex;
    background-color: #E54847;
    color:#fff;
    .backspace1{
        flex: 1;
    }
    .detailListHeader1{
        flex: 11;
        text-align: center;
    }
}