.headerIconfont {
  font-size: .01rem; }

#headerList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .12em;
  height: .41rem;
  line-height: .41rem; }
  #headerList .region {
    flex: 4;
    display: flex; }
    #headerList .region .logo {
      margin-left: 10px; }
      #headerList .region .logo img {
        width: .25rem;
        height: .25rem; }
    #headerList .region .activeCity {
      flex: 1.5;
      margin-left: .5rem;
      color: #8A869E;
      display: flex;
      flex-wrap: nowrap; }
  #headerList .allCity {
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .41rem;
    line-height: .41rem;
    font-size: .12rem; }
    #headerList .allCity .sanjiao {
      width: .04rem;
      height: .05rem;
      margin-left: .05rem; }
  #headerList .comprehensive {
    flex: 2.5;
    font-size: .12rem; }
  #headerList .characteristic {
    flex: 2.5;
    font-size: .12rem; }
  #headerList .search {
    flex: 2.5;
    text-align: center;
    font-size: .18rem; }
