.headerIconfont {
  font-size: .01rem; }

#headerList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .12em;
  height: .41rem;
  line-height: .41rem; }
  #headerList .region {
    flex: 4;
    display: flex; }
    #headerList .region .logo {
      margin-left: 10px; }
      #headerList .region .logo img {
        width: .25rem;
        height: .25rem; }
    #headerList .region .activeCity {
      margin-left: 5px;
      color: #8A869E; }
  #headerList .allCity {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .41rem;
    line-height: .41rem; }
    #headerList .allCity .sanjiao {
      width: 4px;
      height: 5px;
      margin-left: 5px; }
  #headerList .comprehensive {
    flex: 3; }
  #headerList .characteristic {
    flex: 3; }
  #headerList .search {
    flex: 2;
    text-align: center;
    font-size: .18rem; }
