.index-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .index-container header {
    height: .41rem;
    background: #fff;
    font-size: .18rem;
    text-align: center;
    line-height: .41rem;
    color: #000; }
  .index-container main {
    flex: 1;
    overflow: hidden;
    background-color: #fff; }
  .index-container footer {
    height: .49rem; }
    .index-container footer ul {
      height: 100%;
      display: flex; }
      .index-container footer ul li {
        flex: 1;
        background: #f6f6f6;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #c2cfcc; }
        .index-container footer ul li .footerIconfont {
          font-size: .25rem;
          height: .25rem;
          line-height: .25rem; }
        .index-container footer ul li .footerFont {
          font-size: .14rem;
          height: .14rem;
          line-height: .14rem; }
        .index-container footer ul li.active {
          background: #e7f3f0;
          color: #FD6276; }
